body {
  font-size: 18px;
  background-color: #6e6d54
}
.main {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

#editor, #preview {
padding: 15px;
margin: 15px;
border-color: #f8f8af;
background-color: #a2da69
}
.label{
  display:flex;
  justify-content: center;
}

#editor {
min-height: 300px;
min-width:650px;
font-size: 16px;
}
.titleEditor, .titlePreview{
  color:#01f701;
  text-align:center;
}
pre, code {
background-color: #fafbce;
}

pre {
  padding: 10px;
}

img{
  width:200px;
  height:200px;
}

@media(min-width: 992px){
  .main {
    grid-template-columns: 1fr 1fr;
  }
}